#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# https://ci.debian.net/packages/p/pylint/testing/amd64/45931688/
# already a lot better

# wrong_import_order fails in Salsa CI

export PYBUILD_BEFORE_TEST=rm -f {dir}/tests/functional/u/unused_typing_imports.py {dir}/tests/functional/m/missing_final_newline.py
export PYBUILD_TEST_ARGS=-vvvv \
                         -k '\
                             not test_do_not_import_files_from_local_directory \
                         and not test_relative_beyond_top_level_two \
                         and not test_relative_beyond_top_level_three \
                         and not test_relative_beyond_top_level_four \
                         and not inconsistent_returns \
                         and not invalid_all_format_valid_5 \
                         and not invalid_all_format_valid_6 \
                         and not regression_4680 \
                         and not unreachable \
                         and not undefined_variable_typing \
                         and not unused_import_assigned_to \
                         and not use_yield_from \
                         and not used_before_assignment_else_return \
                         and not test_package \
                         and not test_preferred_module \
                         and not test_allow_reexport_package \
                         and not test_package_all \
                         and not wrong_import_order \
                         and not import_error \
                         and not syntax_error \
                         and not test_json_report_when_file_has_syntax_error \
                         and not test_stdin_syntax_error \
                         and not used_before_assignment \
                         ' \
                         {build_dir}/tests
export PYBUILD_AFTER_TEST=rm -rf {dir}/.pytest_cache
export PYBUILD_BEFORE_INSTALL=rm -rf {build_dir}/classes.dot

%:
	dh $@ --buildsystem pybuild

override_dh_auto_build:
	dh_auto_build

override_dh_compress:
	dh_compress -i -X.py -X.ini -X.xml -Xtest

override_dh_installexamples:
	dh_installexamples -ppylint examples/*

override_dh_installdocs:
	dh_installdocs -A README.rst

override_dh_missing:
	dh_missing --fail-missing
